@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Want to know more?</h3>
<p>Give me a ring, email and we can chew the fat.  I'm always looking to make a difference, so hit me up!</p>

<address>
    804 Washington St., #2C<br />
    Evanston, IL 60202<br />
    <abbr title="Phone">P:</abbr> (614) 562-0180<br />
    <abbr title="Email">E:</abbr> <a href="mailto:mcataloe@gmail.com" target="_blank">mcataloe@gmail.com</a></div>
</address>